<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nemo's Questions</title>
  </head>
  <body>
  	<h1>{{ title }}</h1>
	<p>{{ message1 }}</p>
  	<p>{{ message2 }} → 答え：Stage {{ message3 }}</p>
  	<form action="/" method="GET">
		<button>次の問題</button>
	</form>
    <p>参考：
        <a href="https://www.haigan.gr.jp/guideline/2020/1/0/200100000000.html"
           target="_blank">TNMまとめ（日本肺癌学会）</a>
    </p>
  </body>
</html>