<!DOCTYPE html>
<html lang="ja">
  <head>
	  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELBFZ3T8KN"></script>
	  <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-ELBFZ3T8KN');
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nemo's Questions</title>
  </head>
  <body>
  	<h1>{{ title }}</h1>
	<p>正しいUICC第8版の肺癌ステージを選べ。</p>
	<p>{{ message1 }}</p>
	<form action="/answer" method="POST">
		<p>
			<input type="submit" value="解答する">
		</p>

		<p>
			<div>
				<input type="radio" id="a1" name="radio" value="IA1">
				<label for="a1">IA1</label>
			</div>
			<div>
				<input type="radio" id="a2" name="radio" value="IA2">
				<label for="a2">IA2</label>
			</div>
			<div>
				<input type="radio" id="a3" name="radio" value="IA3">
				<label for="a3">IA3</label>
			</div>
			<div>
				<input type="radio" id="a4" name="radio" value="IB">
				<label for="a4">IB</label>
			</div>
		</p>

		<p>
			<div>
				<input type="radio" id="a5" name="radio" value="IIA">
				<label for="a5">IIA</label>
			</div>
			<div>
				<input type="radio" id="a6" name="radio" value="IIB">
				<label for="a6">IIB</label>
			</div>
		</p>

		<p>
			<div>
				<input type="radio" id="a7" name="radio" value="IIIA">
				<label for="a7">IIIA</label>
			</div>
			<div>
				<input type="radio" id="a8" name="radio" value="IIIB">
				<label for="a8">IIIB</label>
			</div>
			<div>
				<input type="radio" id="a9" name="radio" value="IIIC">
				<label for="a9">IIIC</label>
			</div>
		</p>

		<p>
			<div>
				<input type="radio" id="a10" name="radio" value="IVA">
				<label for="a10">IVA</label>
			</div>
			<div>
				<input type="radio" id="a11" name="radio" value="IVB">
				<label for="a11">IVB</label>
			</div>
		</p>

		<input type="hidden" name="ques_num" value="{{ ques_num }}">

	</form>
	<p>参考：
		<a href="https://www.haigan.gr.jp/guideline/2020/1/0/200100000000.html"
		   target="_blank">TNMまとめ（日本肺癌学会）</a>
	</p>
  </body>
</html>